{
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "semi": true,
    "trailingComma": "all",
    "svelteSortOrder": "scripts-markup-styles",
    "svelteBracketNewLine": false,
    "svelteAllowShorthand": false,
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"]
}
